In [37]:
#problem 1
# accept details of student
name = input("Enter your name:")
roll_number = input("Enter your roll number: ")
mark = input("Enter your mark: ")

#print details
print("Name:", name)
print("Roll number:", roll_number)
print("Mark:", mark)

Enter your name:Manu
Enter your roll number: 15
Enter your mark: 50
Name: Manu
Roll number: 15
Mark: 50

In [1]:
#problem 2
# convert to celsius
temp_in_fahren = float(input("Temperature in Fahrenheit: "))
fahren_to_celsius = (temp_in_fahren - 32)*5/9
print(f"Temperature in Celsius:{fahren_to_celsius:.2f}")

#convert to fahrenheit
temp_in_celsius = float(input("Temperature in Celsius: "))
celsius_to_fahren = (temp_in_celsius * 9/5) + 32
print(f"Temperature in Fahrenheit:{celsius_to_fahren:.2f}")

Temperature in Fahrenheit: 32
Temperature in Celsius:0.00
Temperature in Celsius: 0
Temperature in Fahrenheit:32.00

In [3]:
#problem 3
# accept numbers
x = int(input("Enter first number: "))
y = int(input("Enter second number: "))

print("Product =", x*y)

Enter first number: 23
Enter second number: 32
Product = 736

In [10]:
#problem 4
# string = Learn Python by Developing a Website
string = input("Enter the string: ")

print(string[0:5]+"**"+string[6:12]+"**"+string[13:28]+"**"+string[29:36])

Enter the string: Learn Python by Developing a Website
Learn**Python**by Developing a**Website

In [40]:
#problem 5
from math import pi

r = float(input("Enter the radius: "))
print(f"Area = {pi*r**2:.2f} square units")

Enter the radius: 10
Area = 314.16 square units

In [34]:
#problem 6
prime_num = [2,3,11,41,79,13]
new_num = int(input("Enter the number: "))
position = int(input("Enter the position: "))

prime_num.insert(position, new_num)
print("List of Prime numbers =",prime_num)

Enter the number: 17
Enter the position: 1
List of Prime numbers = [2, 17, 3, 11, 41, 79, 13]

In [69]:
#problem 7
sample_dict = { "name": "John", "age":5, "salary": 8000, "city": "New York"}
list_1 = list(sample_dict.popitem())
list_1[0] = "location"
sample_dict[list_1[0]] = list_1[1]
print(sample_dict)

{'name': 'John', 'age': 5, 'salary': 8000, 'location': 'New York'}

In [36]:
#problem 8
sample_dict = {
'emp1': {'name': 'John', 'salary': 7500},
'emp2': {'name': 'Emma', 'salary': 8000},
'emp3': {'name': 'Brad', 'salary': 500}}

sample_dict["emp3"]["salary"] = 8500
print("Sample dictionary=",sample_dict)

Sample dictionary= {'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [56]:
#problem 9
tuple_1 = (10, 20, 43, 54, 56, 68)
new_tuple = tuple_1[2:4]
print("New tuple = ",new_tuple)

New tuple =  (43, 54)

In [57]:
#problem 10
tuple_1 = (50, 10, 60, 70, 50,83,567,50,81)
count = tuple_1.count(50)
print("Count of 50 in tuple: ", count)

Count of 50 in tuple:  3